@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .site-title {
    @apply font-mono font-medium tracking-tight text-tx bg-gradient-to-r from-sol-r to-sol-m bg-clip-text;
  }
}
