/*
 * This sheet defines styles that must apply to the screen version of the site.
 */

@import './tailwind.css';

/*
 * Additional utilities
 * ====================
 * Utilities are named classes that set a single CSS rule. If you want to set
 * more than one rule, define a component in the components layer.
 */

@utility clip-0 {
  clip-path: inset(0);
}

@utility list-lower-roman {
  list-style-type: lower-roman;
}

@utility list-circle {
  list-style-type: circle;
}

@utility text-rem {
  /* Because base is a color name, `.text-base` doesn't work. */
  font-size: 1rem;
}

/*
 * Layer base
 * ==========
 * These are the base styles that apply to all elements. They apply across the
 * entire site and are useful when defining the default appearance of elements.
 */

@layer base {
  /* Headings
   * ======== */

  h1 {
    @apply my-4 text-3xl font-bold text-peach sm:text-5xl;
  }

  h2 {
    @apply my-4 font-medium text-peach;
  }

  h3 {
    @apply my-4 font-medium text-peach;
  }

  h4 {
    @apply my-4 font-medium text-peach;
  }

  h5 {
    @apply my-4 font-medium text-peach;
  }

  h6 {
    @apply my-4 font-medium text-peach;
  }

  /* Anchor links
   * ============ */

  a {
    @apply underline decoration-blue visited:decoration-mauve hover:decoration-wavy;
  }

  a[data-rel='parent'] {
    /* Parent links have ← before the link. */
    @apply before:mx-0.5 before:inline-block before:text-blue before:transition-transform before:content-["←"] visited:before:text-mauve hover:before:-translate-x-1;
  }

  a[href$='.pdf'],
  a[href^='http'],
  a[href^='mailto:'],
  a[href^='tel:'] {
    /* Special links have some arrow after the link. */
    @apply after:mx-0.5 after:inline-block after:text-blue after:transition-transform visited:after:text-mauve hover:after:transform;
  }

  a[href$='.pdf'] {
    /* download links */
    @apply after:content-["↓"] hover:after:translate-y-1;
  }

  a[href^='http'] {
    /* external links */
    /* IDEA: ⤴ is another nice arrow that conveys a similar idea to ↗. */
    @apply after:content-["↗"] hover:after:-translate-y-1 hover:after:translate-x-1;
  }

  a[href^='mailto:'],
  a[href^='tel:'] {
    /* non-web links */
    @apply after:content-["→"] hover:after:translate-x-1;
  }

  a[href^='#'] {
    /* internal links */
    @apply decoration-current visited:decoration-current;
  }

  /* Tables
   * ====== */

  table {
    /* `.-mx-4` breaks tables out of their container. */
    @apply -mx-4 my-4 w-[calc(100%_+_2_*_(var(--spacing)_*_4))];
  }

  tr {
    @apply last:border-b last:border-surface1;
  }

  th {
    @apply border-y border-surface1 bg-surface0 px-2 py-0.5 text-left font-medium first:pl-4 last:pr-4;
  }

  td {
    @apply px-2 py-0.5 first:pl-4 last:pr-4;
  }

  /* Computing specific stuff
   * ======================== */

  code:not(pre > code) {
    /* `<code>` elements nested inside `<pre>` will already by styled appropriately. */
    @apply rounded-sm border border-surface1 bg-surface0 px-1 py-0.5;
  }

  pre {
    @apply my-4 border border-surface1 p-2 [&>code>span.line:empty]:hidden;
  }

  kbd {
    @apply relative -top-0.5 inline-block rounded-sm border border-surface1 bg-surface0 px-1 py-0.5 leading-none font-medium shadow-[0_2px_0_1px] shadow-surface1 hover:translate-y-px hover:shadow-[0_1px_0_0.5px];
  }

  /* Writing
   * ======= */

  blockquote {
    @apply border-l-2 border-l-peach pl-2;
  }

  p {
    @apply my-4;
  }

  hr {
    @apply my-4 border-surface1;
  }

  strong {
    @apply font-medium; /* Medium is the new bold. */
  }
}

/*
 * Layer components
 * ================
 * These are reusable components that are used in multiple places in the site.
 * They define multiple rules and can be overridden with utilities.
 */

@layer components {
  .cntnr {
    @apply mx-safe w-full px-4 sm:max-w-(--breakpoint-sm);
  }

  .md-page,
  .md-post {
    hr {
      @apply flex h-fit items-center justify-center border-none text-overlay1 after:content-['*_*_*'];
    }

    /* Lists
     * ===== */

    ul {
      @apply ml-4 list-disc marker:mr-2 [:not(li)>&]:my-4 [li>&]:list-circle;
    }

    ol {
      @apply ml-4 list-decimal [:not(li)>&]:my-4 [li>&]:list-lower-roman;
    }

    li {
      @apply marker:text-peach gfm-done:marker:text-green gfm-done:marker:content-["✓_"] gfm-todo:marker:content-["▢_"] [&.task-list-item_input]:appearance-none [&[id^="user-content-fn"]_p]:my-0;
    }
  }

  .md-post {
    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    h4 {
      @apply text-lg;
    }

    h6 {
      @apply text-sm;
    }
  }

  h2:not(.md-post *) {
    /* special inclusion of footnote heading */
    @apply -mx-4 my-4 flex items-center gap-2 before:h-px before:w-2 before:bg-peach after:h-px after:w-2 after:grow after:bg-surface1;
  }

  h3:not(.md-post *) {
    @apply my-4 -ms-4 flex items-center gap-2 before:h-px before:w-2 before:bg-peach;
  }
}

/*
 * Layer utilities
 * ===============
 * These consists of modifications to existing utilities. New utilities should
 * be defined above using `@utility`.
 */

@layer utilities {
  /* Prevent `.sr-only` from breaking scroll behaviour. */
  .sr-only {
    @apply top-0 left-0;
  }
}

/* Styles
 * ====== */

/*
 * This makes the "Footnotes" heading visible again and apples the H2 style used
 * in page content (even though it is technically post content). It cannot be
 * placed in any layer because it has the `.sr-only` utility and we need to
 * override those styles.
 */
#footnote-label {
  @apply static -mx-4 my-4 flex h-fit w-[calc(100%_+_2_*_var(--spacing)_*_4)] items-center gap-2 text-rem before:h-px before:w-2 before:bg-peach after:h-px after:w-2 after:grow after:bg-surface1;
}
