---
const isDev = import.meta.env.DEV
---

{
  isDev && (
    <span class="text-blue">
      Breakpoint:
      <span class="sm:hidden">mobile</span>
      <span class="hidden sm:inline md:hidden">sm</span>
      <span class="hidden md:inline lg:hidden">md</span>
      <span class="hidden lg:inline xl:hidden">lg</span>
      <span class="hidden xl:inline 2xl:hidden">xl</span>
      <span class="hidden 2xl:inline">2xl</span>
      <span id="width" />
    </span>
  )
}

<script>
  /** Populate screen width and update it on resize using `ResizeObserver`. */

  const width = document.getElementById('width')

  const updateWidth = () => {
    if (!width) {
      return
    }
    width.textContent = ` (${window.innerWidth}px)`
  }
  updateWidth()

  const resizeObserver = new ResizeObserver(updateWidth)
  resizeObserver.observe(document.body)

  document.addEventListener('beforeunload', () => resizeObserver.disconnect())
</script>
