---
import { getBody } from '@/utils/icon'

interface Props {
  source?: 'simple_icons' | 'lucide'
  name: string
  /** text to shown when the icon is hovered over */
  title?: string
  reserveSpace?: boolean
}
let { source, name, title, reserveSpace = false } = Astro.props

const body = getBody(name, source)
---

{
  body ? (
    <svg
      viewBox="0 0 24 24"
      class="inline size-curr align-[-0.1em]"
      height="1rem"
      width="1rem">
      {title && <title>{title}</title>}
      <Fragment set:html={body} />
    </svg>
  ) : reserveSpace ? (
    <div
      class="inline-block h-4 w-4"
      aria-hidden="true"
    />
  ) : null
}
