<h1
  class="flex"
  aria-hidden="true">
  <span id="face">ʕ • ᴥ • ʔ</span>
  <span
    id="hand"
    class="origin-bottom-left animate-wave motion-reduce:animate-none">
    ﾉ
  </span>
</h1>

<script>
  /** Render a waving kaomoji with randomly-chosen facial features. */

  /**
   * Returns a random element from the given array. If the array is empty, it
   * returns `undefined`.
   *
   * @param choices - the array from to choose a random element
   * @returns a random element from the given array
   */
  function sample<T>(choices: T[]): T | undefined {
    return choices[Math.floor(Math.random() * choices.length)]
  }

  const EDGE_PAIRS: [string, string][] = [
    ['ʕ', 'ʔ'],
    ['(', ')'],
    ['[', ']'],
  ]
  const EYE_PAIRS: [string, string][] = [
    ['•', '•'],
    ['ˇ', 'ˇ'],
    ['❛', '❛'],
    ['^', '^'],
    ['＾', '＾'],
    ['´•', '•`'],
    ['◕', '◕'],
  ]
  const MOUTHS: string[] = ['ᴥ', '◡', 'ᴗ', '▽', 'ヮ']
  const SPACERS: string[] = ['', ' ']

  function getFace(): string {
    const [edgeLeft, edgeRight] = sample(EDGE_PAIRS) ?? ['(', ')']
    const [eyeLeft, eyeRight] = sample(EYE_PAIRS) ?? ['ˇ', 'ˇ']
    const mouth = sample(MOUTHS) ?? '◡'
    const spacer = sample(SPACERS) ?? ''

    return [edgeLeft, eyeLeft, mouth, eyeRight, edgeRight].join(spacer)
  }
  const faceEl = document.getElementById('face')
  if (faceEl) {
    faceEl.innerHTML = getFace()
  }

  const hands: string[] = ['ﾉ', 'ノ', 'ﾉﾟ', '◞*']
  const handEl = document.getElementById('hand')
  if (handEl) {
    handEl.innerHTML = sample(hands) ?? 'ﾉ'
  }
</script>
