---
import { getPageTitle, getMetadata, type RawMetadata } from '@/utils/meta'

interface Props {
  data: RawMetadata
}
const { data } = Astro.props
const { origin, pathname } = Astro.url

const pageTitle = getPageTitle(data.title)
const metaTags = getMetadata(data, pathname, origin)
---

<Fragment>
  <title>{pageTitle}</title>

  {metaTags.map((tag) => <meta {...tag} />)}
</Fragment>
