---
import Link from '@/components/Link.astro'
import Breakpoint from '@/components/Breakpoint.astro'
import Icon from '@/components/Icon.astro'

import type { ClassList } from '@/types/class_list'
import { site } from '@/stores/site'

interface Props {
  classes?: ClassList
}
const { classes = [] } = Astro.props
---

<footer
  class="cntnr flex items-center justify-between border-t py-4"
  class:list={classes}>
  <div class="italic text-subtle">
    <Icon
      name="hand-metal"
      source="lucide"
    />
    Thanks for visiting!
  </div>
  <Breakpoint />
  <div>
    <Link url={site.repoUrl}>Source</Link>
  </div>
</footer>
