---
import Breakpoint from '@/components/Breakpoint.astro'
import Icon from '@/components/Icon.astro'
import IconName from '@/components/IconName.astro'

import type { ClassList } from '@/types/class_list'
import { site } from '@/stores/site'

interface Props {
  classes?: ClassList
}
const { classes = [] } = Astro.props
---

<footer
  class="cntnr flex items-center justify-between border-t py-4 text-subtle"
  class:list={classes}>
  <div class="italic">
    <Icon
      name="hand-metal"
      source="lucide"
    />
    Thanks for visiting!
  </div>
  <Breakpoint />
  {
    site.showCredit && (
      <div>
        Built with
        <IconName
          id="recivi"
          name="Récivi"
          url="https://recivi.pages.dev"
        />
      </div>
    )
  }
</footer>
