---
import type { Date as RcvDate } from '@recivi/schema'

import { dateReadable, dateDisplay } from '@/utils/date_fmt'

interface Props {
  start?: RcvDate
  end?: RcvDate
}
const { start, end } = Astro.props

const startDisplay = start && dateDisplay(start)
const startReadable = start && dateReadable(start)

const endDisplay = end && dateDisplay(end)
const endReadable = end && dateReadable(end)
---

<span class="font-mono">
  <span
    set:html={startDisplay}
    title={startReadable}
  />
  &ndash;
  {
    end ? (
      <span
        set:html={endDisplay}
        title={endReadable}
      />
    ) : (
      <Fragment>
        {/* prettier-ignore */}
        <Fragment>
          <span class="animate-pulse pdf:animate-none text-red" aria-hidden="true">&bull;</span>Present
        </Fragment>
      </Fragment>
    )
  }
</span>
