---
import Link from '@/components/Link.astro'

import type { Heading } from '@/utils/toc_tree'

interface Props {
  heading: Heading
}
const { heading } = Astro.props
---

<ol>
  {
    heading.children.map((child) => (
      <li class:list={{ 'border-s border-surface0 pl-4': heading.depth !== 0 }}>
        <Link
          class="transition"
          url={`#${child.slug}`}
          x-data={JSON.stringify({ slug: child.slug })}
          x-bind:class="$store.toc.activeHeadings.has(slug) ? 'text-text' : 'text-overlay1'">
          {child.text}
        </Link>
        {child.children && <Astro.self heading={child} />}
      </li>
    ))
  }
</ol>
